body {
  font-family: sans-serif;
}

.App {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* 하얀색 바탕 */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.knowledgeform {
  width: 500px; /* Adjust width as needed */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the form horizontally */
}

.knowledgeformfield {
  margin-bottom: 15px;
}

.knowledgeformlabel {
  display: block; /* Make labels on separate lines */
  font-weight: bold;
  margin-bottom: 5px;
}

.knowledgeforminput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.knowledgeformtextarea {
  width: 95%;
  min-height: 100px; /* Set a minimum height for the textarea */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.knowledgeformbuttonarea {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 15px;
}

.knowledgeformbutton {
  width: 100px; /* Adjust width as needed */
  height: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px; /* Add spacing between buttons */
}
