.rentalSupplyAppContainer {
  display: flex;
  justify-content: space-between;
}

.tableComponent {
  flex: 1;
}

.rentalSupplyViewComponent {
  flex: 1;
  margin-left: 20px;
}

.rentalSupplyRequestReason {
  flex: 1;
  margin-left: 20px;
}
