.dashboard {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.cont1 {
  border: 1px solid grey;
  border-radius: 10px;
  width: 45%;
  height: 700px;
  display: grid;
  grid-template-rows: 187px 1.5fr 1.5fr;
  gap: 10px;
  padding: 10px;
  margin-right: 10px;
}

.cont1-content1 {
  display: grid;
  grid-template-columns: 140px 2fr 2fr;
  gap: 10px;
  height: 187px;
}

.myInfoImg {
  width: 139px;
  height: 187px;

  border-radius: 10px;
}

.memo-read {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  color: grey;
  border-bottom: 1px solid grey;
  margin: 0 5px;
}

.memo-space {
  padding: 5px 0;
  margin-left: 5px;
}

.memo-send-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.memo-not-read {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  border-bottom: 1px solid grey;
  margin: 0 5px;
}

.cont1-content3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.cont2 {
  border: 1px solid grey;
  border-radius: 10px;
  width: 45%;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 10px;
  padding: 10px;
}

.common-dashboard-cont {
  padding: 3px 0 3px 10px;
  background-color: #fff0f0;
  border-bottom: 1px solid #777;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.icons {
  width: 16px;
  height: 16px;
}

.icons-18px {
  width: 18px;
  height: 18px;
}

.border {
  border: 1px solid grey;
  border-radius: 10px;
}

.font-bold {
  font-weight: bold;
}

.font-12px {
  font-size: 12px;
}
