.flexArray {
  display: flex;
  align-items: center;
}

input {
  margin-right: 5px;
}
svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--main-color);
}
svg:hover {
  color: var(--second-color);
}
