/* sidebar */
.sidebar {
  transition: width 0.5s;
  background-color: #fff;
  width: 300px;
  height: 100%;
  padding: 36px 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05) !important;
  display: inline-block;
}

.sidebar.active {
  width: 72px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05) !important;
}

.sidebar-toggler {
  margin-bottom: 32px;
  /* background-color: navy;
  position: absolute;
  right: (35px / 2);
  top: calc(9rem / 1.15);
  width: 35px;
  height: 35px;
  border-radius: 2rem;
  z-index: 1; */
}

.user-info {
  transition: all 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  column-gap: 16px;
}

.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-bottom: 10px;
  box-shadow: rgba(206, 206, 206, 0.185) 0px 5px 15px;
}

.info-img.active {
  width: 40px;
  height: 40px;
  overflow: hidden;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-bottom: 10px;
  box-shadow: rgba(206, 206, 206, 0.185) 0px 5px 15px;
}

.info-emp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-tag {
  font-weight: 600;
  margin-bottom: 5px;
}

.dept-tag {
  font-size: 14px;
}

.navigation {
  overflow: hidden;
  transition: height 0.5s ease;
  margin-top: 28px;
  height: 600px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 18px;
  }
}
.navigation.open {
  height: auto;
}
.navigation.close {
  height: 0;
}

.menu-list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.menu-list > li {
  transition: all 0.5s;
}

.menu-item {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 12px;
  overflow: hidden;
  white-space: nowarp;
  text-overflow: ellipsis;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #fff;
  color: var(--second-color);
  border-radius: 5px;
}

.menu-item-icon {
  margin-right: 5px;
}

.menu-item-icon > svg {
  width: 20px;
  height: 20px;
}

.menu-item-left {
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
  flex: 1;
  flex-basis: 0.000000001px;
}

.menu-item-left > p {
  margin-bottom: 0px;
}

.side-bar-link {
  display: block;
}

/* 메뉴 아이템 열림/닫힘 애니메이션 */
.menu-item-left > span {
  transition: transform 0.5s;
}

.menu-item-left > span.rotate-up {
  transform: rotate(-180deg);
}

.menu-item-left > span.rotate-down {
  transform: rotate(0);
}

.submenu-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
}

.submenu-wrapper.open {
  max-height: 200px; /* 열릴 때 최대 높이 조절 */
}

.submenu-wrapper.closed {
  max-height: 0; /* 닫힐 때 높이 0으로 설정 */
}
