* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

.menu-list-container {
  background-color: #f0f0f0;
}
