.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px 130px 400px;
}

.writeAndModifyGrid {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(8, 40px) 1fr 40px 40px 40px;
}

.error {
  display: inline-block;
  margin-left: 20px;
}

.infoBorder {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 16px;
}

.mainInfo > .grid {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 40px 40px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.mainInfo > .grid > .subItem:first-child {
  grid-column: 1/-1;
}

.subInfo > .grid {
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr;
  grid-template-rows: 40px 40px 40px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.mainItem {
  text-align: center;
  align-content: center;
  background-color: #e4e6e7;
}
.subItem {
  align-content: center;
  margin-left: 10px;
  background-color: #fafafb;
}
.contentBorder {
  margin: 10px;
}
button[class="subItem"] {
  margin-left: auto;
  margin-right: 40px;
}
.errorMessage {
  color: #f03939;
}

.contentInfo {
  margin-top: 20px;
}

.borderBottom {
  border-bottom: 1px solid #ccc;
}
