Button {
  font-size: 14px;
}

input[type="text"],
input[type="text"]:hover,
input[type="text"]:active, 
input[type="text"]:focus {
  all: unset;
}

input[type="text"].wirteInput {
  height: 32px;
}

textarea,
textarea:hover,
textarea:active,
textarea:focus {
  all: unset;
}

input[type="textarea"].wirteTextArea {
  background-color: transparent;
}


.memoContainer {
  background-color: #ffffff;
  padding: 15px;
  
}

.treeItem {
  cursor: pointer;
  padding: 5px;
}

.treeSubItem {
  cursor: pointer;
  padding-left: 40px;
}

.subMenuShrunk {
  display: none;
}

.col-1-3 {
  width: 33%;
}

.col14 {
  width: 25%;
}

.col34 {
  width: 75%;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto repeat(3, 28px) auto;
  row-gap: 10px;
}

#grid-label-send, 
#grid-label-receive {
  font-weight: 700;
}

#grid-send-date {
  grid-area: 4 / 1 / 5 / 3;
  color: #898989;
}

#grid-save > svg {
  width: 20px;
  height: 20px;
  
}

#grid-content {
  grid-area: 5 / 1 / 6 / 3;
}

.button-area {
  margin-bottom: 35px;
}

/* Write */
.memoToolBar {
  margin: 0 25px;
  padding: 8px 0;
  border-bottom: 2px solid var(--third-color);
}

.memoToolBar > Button {
  margin-right: 8px;
  font-size: 14px;
}

.memoContenArea {
  display: flex;
  -webkit-box-flex: 1;
  background-color: #fff;
}

.memoWrite {
  min-height: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.memoWriteOption {
  padding-top: 10px;
  z-index: 30;
}

.memoWriteOptionItem {
  position: relative;
  }
  
  .memoWriteOptionItemInner {
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: start;
    align-items: center;
    margin: 0 25px;
}

.writeTitleArea {
  box-sizing: border-box;
  display: flex;
  /* flex : 0 1 30%; */
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 0 6px 11px;
  width: 100px;
}

.writeOptionArea {
  display: flex;
  flex : 1 1 0%;
  -webkit-box-align: start;
  align-items: flex-start;
  min-width: 0;
  padding: 5px 11px 6px 0;
  border-bottom: 1px solid var(--third-color);
}

.writeOptionArea:hover,
.writeOptionArea:active,
.writeOptionArea:focus {
  border-bottom: 1px solid var(--second-color);
}

.writeTitleArea >label {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.writeOptionBoxArea {
  display: flex;
  flex : 1 1 0%;
  -webkit-box-align: start;
  align-items: flex-start;
  min-width: 0;
  padding: 5px 11px 6px 0;
  margin: 10px 0;
  /* border: 1px solid var(--third-color); */
  border-radius: 5px;
}

.writeUserInfo {
  display: flex;
  flex : 1 1 0%;
  flex-wrap: wrap;
}

.writeUserInfoInput {
  /* margin: 0; */
  padding: 0;
  background-color: none;
  width: 100% !important;
}

.writeButton {
  display: block;
  flex : 0 0 auto;
}

.memoWriteEditor {
  margin-top: 10px;
}

.memoWriteEditorInner {
  margin: 0 30px;
  padding: 10px;
  border-top: 2px solid var(--third-color);
  /* border-radius: 5px; */
}

.memoWriteEditorInner:hover,
.memoWriteEditorInner:active,
.memoWriteEditorInner:focus {
  border-color: var(--second-color);
}

.writeMemoTextArea {
  width: -webkit-fill-available;
  height: 95%;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  /* overflow: auto; */
}

.modalContent {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  width: 80%;
  /* animation-name: animateModal; */
  animation-duration: 0.5s;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
}

.closeModalIcon {
  cursor: pointer;
  font-size: 40px;
  float: right;
  font-weight: bold;
}

.modalHeader {
  padding: 20px 20px;
  background-color: #ffffff;
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalHeader > h5,
.modalHeader > span {
  margin: 0px;
}

.modalBody {
  padding: 2px 20px;
  /* height: 200px; */
}

.modalFooter {
  padding: 20px 20px;
  background-color: #ffffff;
  color: #fff;
}

.modalEmployeeArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modalEmpInfo {
  /* margin-bottom: 20px; */
}

.modalBtnArea {
  text-align: center;
  width: 80%;
}

.modalBtnArea > Button {
  margin: 0 10px;
}

.receiveBox {
  /* font-weight: 800; */
}

.rcvBox {
  
}


@keyframes animateModal {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* 
.clientModalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 500px;
  max-width: 90%;
  height: 500px;
  max-height: 90%;
  padding: 1rem;
  background-color: #fdfdfd;
}

.modalClose{
  overflow-y: auto;
  max-height: 11rem;
}

.modalClientContent {
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 22rem;
} */

/* Modal Text */
/* .modalText {
  color: #333;
  font-size: 13.5px;
}
.modalClientText {
  font-size: 15px;
}
.modalTextArea {
  margin-top: 20px;
  width: 415px;
  height: 160px;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  gap: 20px;
} */