Button {
  font-size: 14px;
}

input[type="text"].wirteInput {
  background-color: transparent;
}

input[type="text"].wirteInput:hover, 
input[type="text"].wirteInput:active, 
input[type="text"].wirteInput:focus {
  border: none;
}

.input[type="text"].searchInput {
  width: 100% !important;
}

input[type="file"].customFile {
  position: relative;
}

input[type="file"].customFile::file-selector-button {
  width: 100px;
  color: transparent;
  background-color: var(--second-color);
}

input[type="file"].customFile::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 20px;
  color: var(--main-color);
  content: "파일 선택";
  font-weight: 600;
  font-size: 14px;
}

/* file upload button */
input[type="file"].customFile::file-selector-button {
  border-radius: 5px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: var(--light-color);
  border: none;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}


/*********************************** Compoenet ***********************************/

.bodyContainer {
  height: calc(100% - 50px - 50px);
}

.memoContainer {
  background-color: #ffffff;
  padding: 15px;
  height: 100%;
  
}

.flexDirectCol { 
  display: flex;
  flex-direction: column;
}

.subMenuShrunk {
  display: none;
}

.col-1-3 {
  width: 33%;
}

.col14 {
  width: 25%;
}

.col34 {
  width: 75%;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: auto repeat(3, 28px) auto;
  row-gap: 10px;
}

#grid-label-send, 
#grid-label-receive {
  font-weight: 700;
}

#grid-send-date {
  grid-area: 4 / 1 / 5 / 3;
  color: #898989;
}

#grid-save > svg {
  width: 20px;
  height: 20px;
  
}

#grid-content {
  grid-area: 5 / 1 / 6 / 3;
}

.button-area {
  margin-bottom: 35px;
}

/*********************************** Header ***********************************/

.memoHeader {
  position: relative;
}

.titleArea {
  margin: 0 25px;
  padding: 21px 0 22px 5px;
  border-bottom: 2px solid var(--third-color);
}

.memoboxTitle {
  font-size: 16px;
  font-weight: 600;
  min-width: 0;
  line-height: 26px;
}

.memoboxText {
  margin-right: 10px;
}

/*********************************** List ***********************************/

.memoListArea {
  margin: 0 25px;
  padding: 8px 0;
}

.tableRow {
  height: 60px; /* 각 행의 높이를 설정 */
}

.rowTitle {
  display: block;
  text-align: center; /* 텍스트 중앙 정렬 */
  color: var(--text-second-color);
}

.rowTitleMemo {
  display: block;
  margin-left: 5px;
  color: var(--text-second-color);
}

.cellSpan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cellSpan svg {
  width: 18px;
  height: 18px;
  margin-top: 4px;
}

.cellSpan > svg:hover {
  color: var(--main-color);
}

.rowCellText {
  margin-left: 5px;
}

.rowCellText:hover {
  font-weight: 600;
  color: var(--second-color);
}

.listIcon { 
  color: #d3d6e5;
}

.listIconActive { 
  color: var(--second-color);
  border-color: var(--second-color);
}

.dispalyDate { 
  display: flex;
  justify-content: flex-end;
}

.isNotChecked {
  font-weight: 600;
  color: #333;
}

.isNotImportant {
  color: var(--text-second-color);
}

/*********************************** View ***********************************/
.mailViewWrap {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 0;
}

.memoViewInner {
  display: block;
  unicode-bidi: isolate;
  min-width: 700px;
}

.memoViewHeader{
  margin: 0 25px;
  padding: 20px 10px;
  position: relative;
  border-bottom: 1px solid var(--third-color);
}

.memoViewTitle {
  padding: 0 110px 0 24px;
  margin: 0;
  position: relative;
  /* font-size: 18px; */
  word-break: break-all;
  word-wrap: break-word;
}

.toggleSaveWrap {
  display: block;
  position: absolute;
  /* top: 2px; */
  left: 0;
  font-size: 18px;
  line-height: 18px;
}

.toggleSaveWrap {
  color: var(--second-color);
  cursor: pointer;
}

.toggleSaveWrap:hover {
  color: var(--main-color);
}


.titleText {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  line-height: 22px;
  letter-spacing: -0.53px;
  vertical-align: top;
  word-break: break-all;
  word-wrap: break-word;
}

.memoViewOption{
  padding: 15px 0 0 24px;
  position: relative;
}

.toggleViewReceiver {
  top: 20px;
  left: 0;
  /* padding: 4px 0; */
  line-height: 8px;
  vertical-align: top;
  position: absolute;
  cursor: pointer;
}

.toggleViewReceiver:hover, 
.fileToggleButton:hover, 
.buttonSaveFile {
  color: var(--second-color);
}

.memoOptionItem {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  min-height: 36px;
}

.memotitleArea {
  width: 62px;
}

.optionTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  display: inline-block;
  padding: 5px 0 13px;
  vertical-align: top;
}

.optionArea {
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  display: flex;
  min-width: 0;
  align-items: flex-start;
}

.receiverArea {
  display: inline-block;
  box-sizing: border-box;
}

.buttonUser {
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  display: inline-block;
  min-width: 0;
  margin: 0 0 8px 4px;
  padding: 5px 12px;
  border: 0;
  border-radius: 14px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.buttonUserWrite {
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  display: inline-block;
  min-width: 0;
  margin: 4px 0 4px 4px;
  padding: 5px 12px;
  border: 0;
  border-radius: 14px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.buttonUserWrite:hover {
  color: #fff;
  background-color: var(--main-color);
  cursor: pointer;
  text-decoration: line-through;
}

.memoViewInfoArea{
  padding: 0 0 0 24px;
  display: flex;
}

.memoDate {
  color: var(--text-second-color);
  padding-top: 4px 0px 1px;
  flex: 0 0 auto;
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
}

/* body */
.memoViewBody {
  padding: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.fileAttachments {
  position: relative;
  margin-right: 25px;
  /* max-width: 800px; */
}

.isBorderBottom {
  border-bottom: 1px solid var(--third-color);
}

.fileAttachmentsToolbar {
  display: flex;
  padding: 11px 10px 11px 10px;
}

.fileToggleButton {
  margin: 0 6px 0 0;
  padding: 5px 4px;
  line-height: 10px;
  cursor: pointer;
}

.fileToolbarTitle {
  display: inline-block;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 600;
}

.fileAttachmentsInner {
  display: block;
  border: 1px solid var(--third-color);
  margin: 0 0 0 35px;
  padding-top: 0;
  margin-right: 10px;
  border-radius: 5px;
}

.fileList {
  list-style: none;
  padding: 9px 0;
  margin: unset;
}

.fileItem {
  position: relative;
  display: flex;
  padding: 5px 0 5px 19px;
}

.fileInfo {
  flex: 0 1 auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0;
}

.fileThumbnail {
  -webkit-box-flex: 0;
  font-size:  24px;
  color: var(--second-color);
  padding-bottom: 5px;
}

.fileInfoArea {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-width: 0;
  margin-left: 10px;
  letter-spacing: -0.3px;
}

.task {
  padding-right: 19px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
}

.buttonSaveFile{
  cursor: pointer;
}

.memoViewContent {
  flex: 1;
  padding: 20px 25px 0 34px;
  position: relative;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: normal;
  overflow: auto;
}

.memoViewFooter {

}


/*********************************** Write ***********************************/

.memoToolBar {
  margin: 0 25px;
  padding: 8px 8px;
  border-bottom: 1px solid var(--third-color);
}

.memoToolBar > Button {
  margin-right: 8px;
  font-size: 14px;
}

.memoContenArea {
  display: flex;
  -webkit-box-flex: 1;
  background-color: #fff;
}

.flexValue {
  flex: 1;
}

.memoWrite {
  min-height: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.memoWriteOption {
  padding-top: 10px;
  z-index: 30;
}

.memoWriteOptionItem {
  position: relative;
  }
  
  .memoWriteOptionItemInner {
    display: flex;
    flex: 1 1 auto;
    -webkit-box-align: start;
    align-items: center;
    margin: 0 25px;
}

.writeTitleArea {
  box-sizing: border-box;
  display: flex;
  /* flex : 0 1 30%; */
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 0 6px 11px;
  width: 100px;
}

.writeOptionArea {
  display: flex;
  flex : 1 1 0%;
  -webkit-box-align: start;
  align-items: flex-start;
  min-width: 0;
  padding: 5px 11px 6px 0;
  border-bottom: 1px solid var(--third-color);
}

.writeOptionArea:hover,
.writeOptionArea:active,
.writeOptionArea:focus {
  border-bottom: 1px solid var(--second-color);
}

.writeTitleArea >label {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.writeOptionBoxArea {
  display: flex;
  flex : 1 1 0%;
  -webkit-box-align: start;
  align-items: flex-start;
  min-width: 0;
  padding: 5px 11px 6px 0;
  margin: 5px 0;
  /* border: 1px solid var(--third-color); */
  border-radius: 5px;
}

.writeUserInfo {
  display: flex;
  flex : 1 1 0%;
  flex-wrap: wrap;
}

.writeUserInfoInput {
  /* margin: 0; */
  padding: 0;
  background-color: none;
  width: 100% !important;
  min-height: 30px;
}

.writeButton {
  display: block;
  flex : 0 0 auto;
}

.memoWriteEditor {
  margin-top: 10px;
}

.memoWriteEditorInner {
  margin: 0 30px;
  padding: 10px;
  border-top: 2px solid var(--third-color);
  height: 100%;
  background-color: var(--body-bg);
  /* border-radius: 5px; */
}

.memoWriteEditorInner:hover,
.memoWriteEditorInner:active,
.memoWriteEditorInner:focus {
  border-color: var(--second-color);
}

.writeMemoTextArea {
  width: -webkit-fill-available;
  height: 95%;
  background-color: transparent;
}

.writeMemoTextArea:hover, 
.writeMemoTextArea:active, 
.writeMemoTextArea:focus {
  border: none;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100%; */
  /* overflow: auto; */
}

.modalContent {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1200px;
  animation-name: animateModal;
  animation-duration: 0.5s;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
}

.closeModalIcon {
  cursor: pointer;
  font-size: 28px;
  float: right;
  font-weight: bold;
  color: var(--main-color);
}

.closeModalIcon:hover {
  color: var(--second-color);
}

.modalHeader {
  margin: 20px 20px;
  padding: 15px 20px;
  background-color: #ffffff;
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--third-color);
}

.modalHeader > h5,
.modalHeader > span {
  margin: 0px;
  font-weight: 600;
}

.modalBody {
  margin: 0 20px;
  padding: 2px 20px;
  height: 500px;
}

.modalFooter {
  margin: 20px 20px;
  padding: 20px 20px;
  background-color: #ffffff;
  color: #fff;
  border-top: 2px solid var(--third-color);
}

.footerBtn {
  display: flex;
  justify-content: flex-end;
}

.footerBtn > Button {
  margin-left: 10px;
}

/* SearchEmpMemo */
.modalBodyContainer {
  height: 100%;
  align-items: stretch;
}

.contentGridTwo {
  display: grid;
  row-gap: 15px;
  height: 100%;
  width: 100%;
  grid-template-rows: 0.2fr 0.8fr;
}

.modalBodyListSearch {
  padding: 15px 0;
  border-top: 1px solid var(--third-color);
}

.contentGridOne {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.contentGridOneRows {
  display: grid;
  height: calc(100% - 20px - 10px);
  width: 100%;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  padding-bottom: 10px;
}

.searchBar {
  width: 100%;
  display: flex;
}

.saerchbox {
  flex: 1;
  margin-right: 8px;
}

.searchListContent {
  padding: 10px 5px 10px 10px;
  height: 440px;
  border-radius: 5px;
  border-bottom: 1px solid var(--third-color);
}

.oneSearchList {
  height: 100%;
  overflow: hidden;
}

.searchListTitle {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--third-color);
}

.searchListItemsWraps {
  height: 100%;
  overflow: auto;
}

.searchListItemsWrapsEmp {
  height: 93%;
}

.searchListItemsWrapsRcv {
  height: 97%;
  overflow: auto;
}

.searchListItems {
  padding-left: 5px;
}

.searchListItemsBtn {
  padding-left: 5px;
  height: calc(100% - 35px - 10px);
}

.tree {
  height: 100%;
}

.treeItem {
  display: flex;
  cursor: pointer;
  padding: 5px;
  margin: 0 5px 5px 0;
  height: 30px;
  align-items: center;
}

.treeItemSmall {
  display: flex;
  cursor: pointer;
  /* padding: 8px; */
  margin: 0 5px 5px 0;
  height: 20px;
  align-items: center;
}

.treeItem:hover, 
.treeSubItem:hover {
  padding-right: 10px;
  background-color: #f4f5ff;
  border-radius: 5px;
  font-weight: 600;
  color: var(--second-color);
}

.treeItemToggle {
  margin-right: 5px;
}

.treeCheckbox {
  height: 15px;
  width: 15px;
}

.allCheck {
  display: inline-block;
}

.treeItemMinus {
  margin-right: 5px;
  color: var(--third-color);
}

.treeItemMinus:hover {
  color: var(--second-color);
}

.treebtnArea {
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  /* border-top: 1px solid var(--third-color); */
}

.treebtnArea > Button {
  margin-left: 10px;
}

.treeOverflow {
  overflow: hidden;
}

.treeOverflowScroll {
  overflow: auto;
}

.treeItemOverflow {
  overflow: auto;
}

.treeSubItem {
  display: flex;
  cursor: pointer;
  height: 30px;
  align-items: center;
  padding: 5px 5px 5px 15px;
  margin: 0 5px 5px 0;
}

.miniTitle {
  padding-bottom: 5px;
}

.modalEmployeeArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.heightFull {
  height: 100%;
}

.modalBtnArea {
  text-align: center;
  width: 80%;
}

.modalBtnArea > Button {
  margin: 0 10px;
}


@keyframes animateModal {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* 
.clientModalWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 500px;
  max-width: 90%;
  height: 500px;
  max-height: 90%;
  padding: 1rem;
  background-color: #fdfdfd;
}

.modalClose{
  overflow-y: auto;
  max-height: 11rem;
}

.modalClientContent {
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  max-height: 22rem;
} */

/* Modal Text */
/* .modalText {
  color: #333;
  font-size: 13.5px;
}
.modalClientText {
  font-size: 15px;
}
.modalTextArea {
  margin-top: 20px;
  width: 415px;
  height: 160px;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  gap: 20px;
} */