.teamMateDisplayFlex {
  display: flex;
  align-items: center;
}
.svgTeammateContainer {
  text-align: center;
}
.svgTeammateContainer > svg {
  width: 20px;
  height: 20px;
  stroke-width: 2;
  color: var(--main-color);
  cursor: pointer;
}
.svgTeammateContainer > svg :hover {
  color: var(--second-color);
}

.teamMateContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  /* position: fixed; */
  /* left: 40%; */
}
.leftContainer {
  width: 50%;
}
.teamMateTableContainer {
  margin-top: 16px;
  height: 600px;
  max-height: 600px;
  overflow: auto;
  display: block;
  /* width: 100%; */
}
.teamMateTable {
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
.teamMateTable > thead {
  position: sticky;
  top: 0;

  z-index: 2;
  background-color: var(--light-color);
}

.teamMateButtonArea {
  margin-top: 50px;
  text-align: right;
}
.teamMateEmpArea {
  margin: 15px auto;
  /* border: 2px solid var(--main-color); */
  border-radius: 10px;
  /* position: relative; */
  /* left: 10%; */
  width: 40%;
  height: 300px;
  text-align: center;
  align-items: center;
  display: flex;
  background-color: var(--box-bg);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
  color: #333;
  padding: 10px;
}
.teamMateEmpPhoto {
  margin-left: 10px;
  width: 130px;
  height: 130px;
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.teamMateEmpInfo {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.teamMateEmpPhoto > svg {
  width: 80%;
  height: 80%;
}
.teamMateEmpInfo > div {
  font-size: 14px;
}
.teamMateEmpInfoFlex {
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
}
.teamMateEmpInfoFlex > div {
  width: 300px;
  text-align: left;
}

.teamMateEmpInfoFlex :first-child {
  font-size: 14px;
  font-weight: 700;
  color: var(--main-color);
  margin-right: 15px;
  width: 70px;
  text-align: right;

  justify-content: space-between; /* Flex 아이템 간의 간격을 균등하게 배치 */
}
.lastInfo {
  height: 40px;
}
Button {
  margin: 0 5px;
}
