/* grid c1 */
.gridC1 {
  display: flex;
  flex-direction: column;
}
.gridC1Content {
  flex: 1;
  border-radius: 5px;
  /* padding: 10px; */
}
.gridC1Content .lgValue {
  margin-top: 8px;
  margin-bottom: 16px;
  color: #c7c4c6;
}
.gridC1Content .expiryText {
  margin-bottom: 6px;
}
.gridC1Content .cardWrapper {
  display: flex;
}
.gridC1Content .cardPinHidden {
  font-size: 32px;
  margin-right: 8px;
}
.gridC1Content span {
  color: #8a8587;
}

@media screen and (max-width: 768px) {
  .gridC1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}